{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<title>{% trans "ბლოგი" %}</title>
	{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}" />
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>
{% block index %}
<body>
{% block srulad %}
{% endblock srulad %}
</body>
{% endblock index %}
</html>