{% extends "new.html" %}
{% load i18n %}
{% block language %}
<form action="/i18n/setlang/" method="POST" style="float: right; display: inline-block;">
	{% csrf_token %}
	{% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
	<div>
		<li>
			<button id="geo" type="submit" value="ka" > </button>
		</li>
		<li>
			<button id="eng" type="submit" value="en" ></button>
		</li>
	</div>
</form>
{% endblock language %}
