
{% load i18n %}
<!DOCTYPE html>
<html>
<title>{% trans "ბლოგი" %}</title>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/new.css' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>MY BLOG</b></h1>
  <p>Welcome to the blog of <span class="w3-tag">{% trans "ცოტნე შარვაძე" %}</span></p>
</header>
{% include "app/lang_change.html" %}
<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  {% for object in postebis_sia %}
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="{{object.surati.url}}" alt="Nature" style="width: 100%; height: 400px;">
    <div class="w3-container w3-padding-8">
      <h3><b>{{object.postis_satauri}}</b></h3>
      <h5>{% trans "განთავსების დრო" %} : <span class="w3-opacity">{{ object.sheqmnis_dro }}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{object.get_medium_desc}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a type="button" href="{% url 'app:srulad' object.id %}"  class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>{% trans "სრულად" %}»</b></a></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>{% trans "კომენტარები" %} </b> <span class="w3-tag">{{object.comment_set.count}}</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% endfor %}
<!-- END BLOG ENTRIES -->
</div>
<!-- Introduction menu -->
<div class="w3-col l4">

  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
  <img src="{% static 'img/prof.jpg' %}" style="width: 100%; height: 450px;">
    <div class="w3-container w3-white">
      <h4><b>{% trans "ცოტნე შარვაძე" %}</b></h4>
      <p>{% trans "მე ვარ ცოტნე შარვაძე დავბადე 1997 წლის 23 მარტს,თბილისში.პროფესიით ვარ პროგრამისტი , ამიტომაც მიწევს ბლგის შექმნა თორე ჩემით ამას არ ვიზავდი , ნუ არც მაძალებენ , მომწონს კიდეც .ამდენი იმიტომ ვიბოდიალე რომ დიდი ტექსტი მჭირდებოდა .. "%}</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>{% trans "პოპულარული პოსტები" %}:</h4>
    </div>
    {% for i in popularuli_postebi %}
    <ul class="w3-ul w3-hoverable w3-white"><a type="button" href="{% url 'app:srulad' i.id %}">
      <li class="w3-padding-16">
        <img src="{{i.surati.url}}" alt="Image" class="w3-left w3-margin-right" style="width:50px;height: 50px">
        <span class="w3-large">{{i.postis_satauri}}</span><br>
        <span>{{i.get_short_desc}}</span>
      </a>
      </li>
    </ul>
    {% endfor %}
  </div>
  <hr> 
 <!---->
  <!-- Labels / tags -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
    <div class="pagination">
      <span class="step-links">
          {% if contacts.has_previous %}
              <a class="w3-btn w3-padding-large w3-margin-bottom" href="?page={{ contacts.previous_page_number }}">{% trans "წინ" %}</a>
          {% endif %}

          <span class="current">
              {% trans "გვერდი" %}: {{ contacts.number }} / {{ contacts.paginator.num_pages }} .
          </span>

          {% if contacts.has_next %}
              <a class="w3-btn w3-padding-large w3-margin-bottom" href="?page={{ contacts.next_page_number }}">{% trans "შემდეგი" %}»</a>
          {% endif %}
      </span>
  </div>
  <!-- <button class="w3-btn w3-disabled w3-padding-large w3-margin-bottom">წინ </button> -->
<!--   <button class="w3-btn w3-padding-large w3-margin-bottom">წინ </button>
  <button class="w3-btn w3-padding-large w3-margin-bottom">შემდეგი »</button> -->
  <p>{% trans "შექმნიალია  :" %}<a href="https://www.facebook.com/tsotnesharvadze" target="_blank">ts.sharvadze</a>{% trans "-ის მიერ" %}</p>

</footer>

</body>
</html>
