{% extends "app/base.html" %}



{% block srulad  %}
{% load i18n %}
{% include "app/lang_change.html" %}
	<p style="text-align: center;" >{{posti.postis_satauri}}</p>
	<img src="{{posti.surati.url}}" alt="some_text" style="width: 1000px; height: 400px; margin: auto; display: block; border-radius: 10px;">

	<p style="text-align: center; line-height: 2.5em; display: block; margin: auto; width: 1024px;">{{posti.postis_contenti}}</p>

	<p style="display: block; padding-left: 18%; color: rgb(34, 34, 34);">{{posti.sheqmnis_dro}}</p>
	{% for i in posti.comment_set.all %}
		<p style="padding-left: 6%;">{{i}}</p>
	{% endfor %} 


 <form action="" method="POST">
 {% csrf_token %}
 	{{ form.as_p}}
	<input type="submit" value='OK'">
</form>
	{% endblock srulad %}